<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
  xmlns:flow="http://www.springframework.org/schema/webflow-config" xmlns:jms="http://www.springframework.org/schema/jms"
  xmlns:jee="http://www.springframework.org/schema/jee" xmlns:lang="http://www.springframework.org/schema/lang"
  xmlns:osgi="http://www.springframework.org/schema/osgi" xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:util="http://www.springframework.org/schema/util" xmlns:p="http://www.springframework.org/schema/p" xmlns:mvc="http://www.springframework.org/schema/mvc"
  xmlns:cache="http://www.springframework.org/schema/cache"
  xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/webflow-config http://www.springframework.org/schema/webflow-config/spring-webflow-config.xsd
       http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
       http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
       http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

  <context:property-placeholder location="classpath:application.properties" ignore-unresolvable="true" />
  <!-- *********************************** DB CONNECTION SETTING pool:start ************************************** -->
  <!-- BoneCP configuration -->
  <bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
    <property name="driverClass" value="${bonecp.driverClass}" />
    <property name="jdbcUrl" value="${bonecp.url}" />
    <property name="username" value="${bonecp.username}" />
    <property name="password" value="${bonecp.password}" />
    <property name="idleConnectionTestPeriodInMinutes" value="${bonecp.idleConnectionTestPeriodInMinutes}" />
    <property name="idleMaxAgeInMinutes" value="${bonecp.idleMaxAgeInMinutes}" />
    <property name="maxConnectionsPerPartition" value="${bonecp.maxConnectionsPerPartition}" />
    <property name="minConnectionsPerPartition" value="${bonecp.minConnectionsPerPartition}" />
    <property name="partitionCount" value="${bonecp.partitionCount}" />
    <property name="acquireIncrement" value="${bonecp.acquireIncrement}" />
    <property name="statementsCacheSize" value="${bonecp.statementsCacheSize}" />
  </bean>
  <!-- *********************************** DB CONNECTION SETTING pool:end **************************************** -->

  <!-- *********************************** CACHE SETTING encache:begin ******************************************* -->
  <!-- Encache setting -->

  <!-- *********************************** CACHE SETTING encache:end ********************************************* -->
</beans>